.authentication-icon{
    margin-right: 15px;
}
.method{
    font-weight: bold;
}
.method-get{
    color: #5EF38C;
}
.method-delete{
    color: #E56B6F;
}
.method-post{
    color: #007acc;
}
.method-put{
    color: #ef8354; 
}
.path-param {
    color: #7289da !important;
}