.doc-row {
    border-radius: 10px;
    margin: 25px 0;
    padding: 20px; 
}
.method{
    font-weight: bold;
}
.method.get{
    color: #5EF38C;
}
.method.delete{
    color: #E56B6F;
}
.method.post{
    color: #007acc;
}
.method.put{
    color: #ef8354; 
}
.path-param {
    color: #7289da !important;
}