#logo{
    // fill-rule: evenodd;
    // clip-rule: evenodd;
    // stroke-linejoin: round;
    // stroke-miterlimit: 2;

    // .logo-text{
    //     font-family:'Bauhaus93', 'Bauhaus 93', fantasy;font-size:31.707px;
    // }
    width: 50%;
    max-width: 200px;
}

.version-tag{
    border-radius: 20px !important;
    margin-left: 10px;
}

.issues{
    cursor: pointer;
}